# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# The MySQL server [mysqld]
port = 3306
socket = /tmp/mysql.sock
# temp-pool

# The following three entries caused mysqld 10.0.1-MariaDB (and possibly other
   versions) to abort...
# skip-locking
# set-variable = key_buffer = 16M
# set-variable = thread_cache = 4

######### Fix the two following paths

# Where you want to have your database
data = /var/lib/

# [mysqldump]
# quick
# MariaDB
# 8
# set-variable = max_allowed_packet=16M
# [mysql]
# no-auto-rehash

# [myisamchk]
# set-variable = key_buffer = 128M
